<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category[1] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Все посты:</h2>
    <ul>
        {% for post in posts %}
        <li>
            <h3>{{ post[1] }}</h3>
            <p>{{ post[2][:200] }}{% if post[2]|length > 200 %}...{% endif %}</p>
            <p><em>Автор: {{ post[6] }} |
                    Категория: <a href="/category/{{ post[4] }}">{{ post[7] if post[7] else 'Без категории' }}</a>
                    Создан: {{ post[5] }}</em></p>
        </li>
        {% endfor %}
    </ul>
</body>

</html>